<!-- CONTAINER: LEFT SIDE NAVIGATION BAR - RIGHT SIDE MAIN -->  
<div id="about-us-container">
    <!-- SIDE NAVIGATION BAR --> 
    <div class="sidebar-container" >
        <div class="sidebar-nav">
            <h2>Juguetería Cósmica<img src="../img/logo-spaceship.png" alt="nave espacial"></h2>
            <div class="sidebar-links">
                <button id="btn-about-us-text">Sobre Nosotros</button>
                <button id="btn-our-team">¿Quiénes somos?</button>
                <button id="btn-faq">Preguntas frecuentes</button>
            </div>
        </div>
    </div>
</div>
<!-- MAIN CONTENT -->
<main id="main-about-us">
    <section id="about-us">
        <h2>Sobre nosotros</h2>
        <p>Bienvenidos a JUGUETERÍA CÓSMICA: los mejores juguetes del mundo están aca.</p>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi impedit cumque a quos quas enim?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis neque odit ullam explicabo itaque ad ab corporis libero, ipsa fugit non error quaerat, magnam accusantium officiis dolorem adipisci incidunt earum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, sapiente repellendus? Corporis aut dolorem magnam rerum, ea unde minima non veniam alias quod. Vitae, accusamus velit! Repudiandae ex consequatur vero illum! Minima quaerat excepturi quibusdam architecto obcaecati. Ipsam, ipsa odio.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas asperiores laudantium consequuntur modi, inventore a? Exercitationem eum omnis, nostrum facilis quisquam aspernatur?</p>
        </div>
    </section>
</main>