<div id="contact_wrapper">
    <form id="formContact" action="" autocomplete="off">
        <div class="form-div-wrapper">
            <label for="name">Nombre<span class="req">*</span></label>
            <input required type="text" id="name" name="name" autofocus minlength="3" maxlength="30">
        </div>
        <div class="form-div-wrapper">
            <label for="e-mail">Email<span class="req">*</span></label>
            <input required type="email" id="e-mail" name="e-mail">
        </div>
        <div class="form-div-wrapper">
            <label for="comments">Comentarios<span class="req">*</span></label>
            <textarea required id="comments" name="comments" rows="10" cols="20" minlength="10" maxlength="500"></textarea>
        </div>
        <div class="btn_container">
            <input type="submit" class="button button-block" value="ENVIAR">
        </div>
        <div>
            <p>* Campos obligatorios</p>
        </div>
    </form>
</div>
    