<!-- MAIN CONTENT -->
<section id="faq-accordion" class="accordion">
    <h2>Preguntas frecuentes</h2>
    <div class="accordion-title">
        <h3>¿A que teléfono puedo llamar si tengo problemas con mi orden?</h3>
        <button class="plus-minus-btn">
            <div class="horizontal"></div>
            <div class="vertical"></div>
        </button>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum eius eligendi, enim nemo dignissimos at veritatis cumque adipisci! Numquam repudiandae aut consequatur veniam ut illum.</p>
        <p>Nemo, quam quia. Quaerat et praesentium aut, similique aliquid corporis iure sed suscipit aspernatur commodi odit consequatur quibusdam obcaecati voluptate esse. Saepe tenetur sit molestiae.</p>
    </div>
    <div class="accordion-title">
        <h3>¿A que correo puedo escribir si tengo un problema con mi orden?</h3>
        <button class="plus-minus-btn">
            <div class="horizontal"></div>
            <div class="vertical"></div>
        </button>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum eius eligendi, enim nemo dignissimos at veritatis cumque adipisci! Numquam repudiandae aut consequatur veniam ut illum.</p>
        <p>Nemo, quam quia. Quaerat et praesentium aut, similique aliquid corporis iure sed suscipit aspernatur commodi odit consequatur quibusdam obcaecati voluptate esse. Saepe tenetur sit molestiae.</p>
    </div>
    <div class="accordion-title">
        <h3>¿Cuál es el costo de envío?</h3>
        <button class="plus-minus-btn">
            <div class="horizontal"></div>
            <div class="vertical"></div>
        </button>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum eius eligendi, enim nemo dignissimos at veritatis cumque adipisci! Numquam repudiandae aut consequatur veniam ut illum.</p>
        <p>Nemo, quam quia. Quaerat et praesentium aut, similique aliquid corporis iure sed suscipit aspernatur commodi odit consequatur quibusdam obcaecati voluptate esse. Saepe tenetur sit molestiae.</p>
    </div>
    <div class="accordion-title">
        <h3>¿Cómo se realizan los envíos?.</h3>
        <button class="plus-minus-btn">
            <div class="horizontal"></div>
            <div class="vertical"></div>
        </button>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum eius eligendi, enim nemo dignissimos at veritatis cumque adipisci! Numquam repudiandae aut consequatur veniam ut illum.</p>
        <p>Nemo, quam quia. Quaerat et praesentium aut, similique aliquid corporis iure sed suscipit aspernatur commodi odit consequatur quibusdam obcaecati voluptate esse. Saepe tenetur sit molestiae.</p>
    </div>
    <div class="accordion-title">
        <h3>¿Dónde puedo recibir mi pedido?</h3>
        <button class="plus-minus-btn">
            <div class="horizontal"></div>
            <div class="vertical"></div>
        </button>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum eius eligendi, enim nemo dignissimos at veritatis cumque adipisci! Numquam repudiandae aut consequatur veniam ut illum.</p>
        <p>Nemo, quam quia. Quaerat et praesentium aut, similique aliquid corporis iure sed suscipit aspernatur commodi odit consequatur quibusdam obcaecati voluptate esse. Saepe tenetur sit molestiae.</p>
    </div>
    <div class="accordion-title">
        <h3>¿Cuánto tarda en llegar el pedido?</h3>
        <button class="plus-minus-btn">
            <div class="horizontal"></div>
            <div class="vertical"></div>
        </button>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum eius eligendi, enim nemo dignissimos at veritatis cumque adipisci! Numquam repudiandae aut consequatur veniam ut illum.</p>
        <p>Nemo, quam quia. Quaerat et praesentium aut, similique aliquid corporis iure sed suscipit aspernatur commodi odit consequatur quibusdam obcaecati voluptate esse. Saepe tenetur sit molestiae.</p>
    </div>
    <div class="accordion-title">
        <h3>¿Cuál es el plazo para realizar un cambio?</h3>
        <button class="plus-minus-btn">
            <div class="horizontal"></div>
            <div class="vertical"></div>
        </button>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum eius eligendi, enim nemo dignissimos at veritatis cumque adipisci! Numquam repudiandae aut consequatur veniam ut illum.</p>
        <p>Nemo, quam quia. Quaerat et praesentium aut, similique aliquid corporis iure sed suscipit aspernatur commodi odit consequatur quibusdam obcaecati voluptate esse. Saepe tenetur sit molestiae.</p>
    </div>
    <div class="accordion-title">
        <h3>¿Qué debo hacer si el producto no llega en buen estado?</h3>
        <button class="plus-minus-btn">
            <div class="horizontal"></div>
            <div class="vertical"></div>
        </button>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum eius eligendi, enim nemo dignissimos at veritatis cumque adipisci! Numquam repudiandae aut consequatur veniam ut illum.</p>
        <p>Nemo, quam quia. Quaerat et praesentium aut, similique aliquid corporis iure sed suscipit aspernatur commodi odit consequatur quibusdam obcaecati voluptate esse. Saepe tenetur sit molestiae.</p>
    </div>
    <div class="accordion-title">
        <h3>¿Cómo retirar mi compra de una Sucursal?</h3>
        <button class="plus-minus-btn">
            <div class="horizontal"></div>
            <div class="vertical"></div>
        </button>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum eius eligendi, enim nemo dignissimos at veritatis cumque adipisci! Numquam repudiandae aut consequatur veniam ut illum.</p>
        <p>Nemo, quam quia. Quaerat et praesentium aut, similique aliquid corporis iure sed suscipit aspernatur commodi odit consequatur quibusdam obcaecati voluptate esse. Saepe tenetur sit molestiae.</p>
    </div>
    <div class="accordion-title">
        <h3>¿Los productos tienen garantía?</h3>
        <button class="plus-minus-btn">
            <div class="horizontal"></div>
            <div class="vertical"></div>
        </button>
    </div>
    <div class="accordion-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum eius eligendi, enim nemo dignissimos at veritatis cumque adipisci! Numquam repudiandae aut consequatur veniam ut illum.</p>
        <p>Nemo, quam quia. Quaerat et praesentium aut, similique aliquid corporis iure sed suscipit aspernatur commodi odit consequatur quibusdam obcaecati voluptate esse. Saepe tenetur sit molestiae.</p>
    </div>
</section>
