     <!-- MAIN CONTENT -->
<div id="main-about-us">
    <section id="team-container">
        <h2>Nuestro Equipo</h2>
        <div id="team-gallery-container">
            <div class="team-mem-container">
                <div class="team-memb-img-cont"><img class="team-mem-photo" src="" alt=""></div>
                <div class="team-mem-info">
                    <p class="team-mem line1">Nombre y apellido</p>
                    <p class="team-mem line2">Puesto en la empresa</p>
                </div>
            </div>
            <div class="team-mem-container">
                <div class="team-memb-img-cont"><img class="team-mem-photo" src="" alt=""></div>
                <div class="team-mem-info">
                    <p class="team-mem line1">Nombre y apellido</p>
                    <p class="team-mem line2">Puesto en la empresa</p>
                </div>
            </div>
            <div class="team-mem-container">
                <div class="team-memb-img-cont"><img class="team-mem-photo" src="" alt=""></div>
                <div class="team-mem-info">
                    <p class="team-mem line1">Nombre y apellido</p>
                    <p class="team-mem line2">Puesto en la empresa</p>
                </div>
            </div>
            <div class="team-mem-container">
                <div class="team-memb-img-cont"><img class="team-mem-photo" src="" alt=""></div>
                <div class="team-mem-info">
                    <p class="team-mem line1">Nombre y apellido</p>
                    <p class="team-mem line2">Puesto en la empresa</p>
                </div>
            </div>
        </div>
    </section>
</div>